<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head> 
        
    </head>
<body>
    <div th:fragment="rodape">
        <footer style="background-color: #222; color: white; padding: 20px; text-align: center;">
            <div>
                <h3></h3>

                <img src="imagens/cabecalho/master.png" alt="Mastercard" width="50">
                <img src="imagens/cabecalho/visaa.png" alt="Visa" width="50">
                <img src="imagens/cabecalho/american.jpeg" alt="American Express" width="50">  
                <img src="imagens/cabecalho/eloo.jpeg" alt="Elo" width="50">
                <img src="imagens/cabecalho/pix.png" alt="Pix" width="50">
            </div>
            <div>
                <p>&copy; 2025 Gustavo Rações - Todos os direitos reservados.</p>
            </div>
            <div>
                <a href="imagens/cabecalho/facebook.png" style="color: white; margin: 0 10px;">Facebook</a>
                <a href="imagens/cabecalho/instagram.jpeg" style="color: white; margin: 0 10px;">Instagram</a>
                <a href="imagens/cabecalho/twitter.png" style="color: white; margin: 0 10px;">Twitter</a>
            </div>
        </footer>
    </div>
</body>
</html>