<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <a href="/" class="btn btn-secondary mt-3">Voltar ao Início</a>
    <title>Cadastro de Pedidos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"> 
    <link href="../../css/estilo.css" rel="stylesheet">      
    <style>.form-container {
        max-width: 500px;
        margin: auto;
      }
      
     
    </style>
</head>
<body>
    <div th:replace="fragmentos/menu-lateral :: sidebar"></div>
    <div class="centralizado">
<div class="container mt-5">
    <h2>Cadastro de Pedidos</h2>
    <form th:action="@{'/pedidos/editar/' + ${pedido.id}}"  method="post">
        <div class="mb-3">
            <label  class="form-label">Número de Pedido</label>
            <input type="text" th:value="${pedido.id}" class="form-control" name="id" required>
        </div>
        <div class="mb-3">
            <label  class="form-label">Data e Hora</label>
            <input type="text" th:value="${#dates.format(pedido.dataHora, 'dd/MM/yyyy HH:mm:ss')}" class="form-control"  name="dataHora" required>
        </div>
        
        <button type="submit" class="btn btn-primary">Atualizar</button>
    </form>
</div>
</body>
</html>